<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>De Resto Official</title>
    <link
      rel="icon"
      href="./images/icons/dresto-favicon.png"
      type="image/x-icon" />
  </head>
  <body>
    <a href="#container" class="skip-link">Go to Main Content</a>
    <header class="appbar">
      <img
        src="./images/icons/logo-deresto.svg"
        alt="logo deresto"
        class="logo" />
      <button id="btn-menu" style="min-width: 44px; min-height: 44px">
        ☰
      </button>
      <nav id="drawer">
        <a href="#">Home</a>
        <a href="#container">Favorite</a>
        <a href="https://rioaldie.vercel.app" target="_blank"
          >About us</a
        >
      </nav>
    </header>
    <main>
      <header id="hero">
        <div id="thumbnail">
          <img
            src="./images/heros/hero-image_1.jpg"
            alt="thumbnail image"
            id="thumbnail-img"
            width="100%" />
        </div>
        <div class="hero-detail">
          <h1>De Resto.</h1>
          <h2>Find best Restaurants Where Ever You Are</h2>
        </div>
      </header>
      <section id="container"></section>
    </main>
    <footer>
      <p>Copyright © 2023 - De Resto Official All Reserved</p>
    </footer>
  </body>
</html>
