<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>De Resto Official</title>
    <link
      rel="icon"
      href="./images/icons/dresto-favicon.png"
      type="image/x-icon" />
  </head>
  <body>
    <header class="appbar">
      <img
        tabindex="1"
        src="./images/icons/logo-deresto.svg"
        alt="logo deresto"
        class="logo" />

      <nav id="drawer">
        <a href="#" tabindex="3">Home</a>
        <a href="#container" tabindex="4">Favorite</a>
        <a
          href="https://rioaldie.vercel.app"
          target="_blank"
          tabindex="5"
          >About us</a
        >
      </nav>
      <button id="btn-menu" tabindex="2">☰</button>
    </header>
    <main>
      <header id="hero">
        <div id="thumbnail">
          <img
            tabindex="6"
            src="./images/heros/hero-image_1.jpg"
            alt="thumbnail image"
            id="thumbnail-img"
            width="100%" />
        </div>
        <div tabindex="7" class="hero-detail">
          <h1>De Resto.</h1>
          <h2>Find best Restaurants Where Ever You Are</h2>
        </div>
      </header>
      <section id="container" tabindex="8">
        <h3>Explore Resto</h3>
      </section>
    </main>
    <footer>
      <p>Copyright © 2023 - De Resto Official All Reserved</p>
    </footer>
  </body>
</html>
