<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>De Resto Official</title>
  </head>
  <body>
    <header class="appbar">
      <img
        src="./images/icons/logo-deresto.svg"
        alt="logo"
        class="logo" />

      <nav id="drawer">
        <a href="#">Home</a>
        <a href="#">Favorite</a>
        <a href="#">About us</a>
      </nav>
      <button id="btn-menu">☰</button>
    </header>
    <main>tes</main>
    <footer></footer>
  </body>
</html>
